__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3
*.db

venv/
env/
.venv/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.log

.coverage
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

build/
dist/
*.egg-info/
.eggs/

.DS_Store